<h1>Signup</h1>

    <form id="signup-form" class="d-flex flex-column justify-content-center align-items-center">
        <input type="text" id="signup-email" placeholder="Email" class="spacing">
        <input type="password" id="signup-password" placeholder="Password" class="spacing">
        <button id="signup-btn"class="spacing btn btn-primary">Signup</button>
    </form>

<script src="/js/signup.js"></script>